
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

/* scrollbar */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #dbdbdb;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
    cursor: url(https://cur.cursors-4u.net/games/gam-2/gam173.cur), auto !important;
}

*::selection {
    background-color: rgba(182, 212, 226, 0.774);
    color: black;
}

body {
    background-color: #f9f9f9;
    color: black;
}

h1 {
    margin: 50px 0 0;
    font-size: 36px;
}

img {
    width: 10em;
}

code {
    font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
    line-height: 2.2em;
    background: rgba(135,131,120,.15);
    color: #EB5757;
    border-radius: 5px;
    font-size: 0.8em;
    padding: 0.25em 0.4em;
}

/* container, inner */
.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    animation: fadein 1s ease-in-out;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0rem 0rem 0.875rem 0rem rgba(81, 117, 143, 0.4);
    border-radius: 0.75rem;
    box-sizing: border-box;
    justify-content: space-between;
}


.container > .wrapper > .inner {
    margin: 1.8em 3em 1.8em 3em;
    display: flex;
    flex-wrap: nowrap;
}

#home {
    gap: 2em;
}

#column1 {
    max-width: 12em;
    text-align: justify;
}

#column2 {
    max-width: 12em;
}

#column2 strong {
    font-weight: bold;
    line-height: 1.5rem;
    text-decoration: underline;
}

#column1 img {
    width: 12em;
    height: auto;
}

/* text */
.inner p {
    font-size: 0.80em;
    line-height: 1em;
}

.container > div li {
    font-size: 0.80em;
    line-height: 1em;
    margin-left: .5em;
    list-style-type: circle;
}

.container div li::marker {
    content: "⋆ ";
}

.highlighted {
    background-color: rgb(207, 235, 239);
}

/* navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: white;
    box-shadow: 0rem 0rem 0.875rem 0rem rgba(81, 117, 143, 0.4);
    border-radius: 0.75rem;
    position: relative;
    margin-bottom: 1.5em;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 0.8em;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 0.85em;
    font-weight: bold;
    transition: all 0.26s ease-in-out;
}

nav a:hover {
    color: rgb(203, 194, 98);
    font-size: 0.95em;
}

/* bottom bar */
#bottombar {
    margin-top: 1.5em;
    max-width: 12em;
    text-align: center;
}

#bottombar > p {
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
}

#bottombar > p:hover {
    opacity: 1;
}

.tone {
    font-weight: bold;
    color: #e1d192;
    transition: all 0.3s ease-in-out;
}

.tone:hover {
    color: rgb(255, 112, 141);
}

.image {
    margin-bottom: 0.5em;
}

.bigText {
    margin-bottom: 2em;
}

.bigText h1 {
    margin: 0;
    font-size: 1.3em;
    font-family: monospace;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.bigText .minih1 {
    font-size: 0.9em;
    font-family: monospace;
    display: inline-block;
    white-space: nowrap;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* game section */
#gamesContainer {
    margin-top: 2em;
    display: flex;
    flex-direction: row;

    opacity: 0;
    visibility: hidden;
    overflow: hidden; 
    max-height: 0;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out, max-height 1.2s ease-in-out;

    height: auto;
    overflow: visible; 
}


.innerGame {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#games {
    gap: 1.25em;
}

.game {
    text-align: center;
    max-width: 11em;

    width: 100%; /* ensure it takes up full width of its parent */
    height: auto; /* allow it to grow as tall as its content */
    overflow: visible; /* allow content to overflow if necessary */
}

.game > h3 {
    font-size: .9em;
    font-weight: bold;
    color: rgb(197, 202, 100);
    transition: all 0.26s ease-in-out;
    text-decoration: underline;
    white-space: nowrap; 
    margin-bottom: 0.35em;
}

.game > h3:hover {
    color: #7cc6e3;
    text-shadow: #a0ebff 0px 0px 10px;
}

.game > p {
    white-space: normal;
    text-transform: lowercase;
    max-height: 12em; 
    overflow: auto; 
    font-size: fit-content;

}

.game > p:hover {
    background-color: rgba(0, 96, 123, 0.04);
}


/* mobile optimization */
@media only screen and (max-width: 600px) {

    body {
        scale: 0.82;

    }

    .container .wrapper .inner  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

.container .wrapper .inner :nth-child(3) {
    grid-column: 1 / span 2;
    
    }

    .game {
        max-width: 100%;
    }

    .game p {
        text-align: justify;
    }

}
